<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Culture In</title>
<!--    <meta http-equiv="refresh" content="5"/> -->

    <link rel="stylesheet" href="{{ url_for('static', path='/css/main_map.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/normalize.css') }}">
</head>
<body>
<header>
    <div class = "logo"></div>
    <input type="text" id="myInput" onkeyup="searchText()" placeholder="Поиск">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Фильтр</button>
        <div id="myDropdown" class="dropdown-content">
            <a class = "books" href="#">Научная статья</a>
            <a class = "events" href="#">Просидинг</a>
            <a class = "gen" href="#">Общее</a>
        </div>
    </div>
    <div class="profile">ПРОФИЛЬ</div>
    <div class="logout">ВЫЙТИ</div>
</header>
<div class="grid">

    </div>




</body>
<!-- <script src="/node_modules/bson/dist/bson.bundle.js"></script> -->
<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ url_for('static', path='/js/main_map.js') }}"></script>
<script>
    function resizeGridItem(item){
        grid = document.getElementsByClassName("grid")[0];
        rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows'));
        rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap'));
        rowSpan = Math.ceil((item.querySelector('.content').getBoundingClientRect().height+rowGap)/(rowHeight+rowGap));
        item.style.gridRowEnd = "span "+rowSpan;
    }

    function resizeAllGridItems(){
        allItems = document.getElementsByClassName("item");
        for(x=0;x<allItems.length;x++){
            resizeGridItem(allItems[x]);
        }
    }

    function resizeInstance(instance){
        item = instance.elements[0];
        resizeGridItem(item);
    }

    window.onload = resizeAllGridItems();
    window.addEventListener("resize", resizeAllGridItems);

    allItems = document.getElementsByClassName("item");
    for(x=0;x<allItems.length;x++){
        imagesLoaded( allItems[x], resizeInstance);
    }
</script>
<script>


</script>

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
</html>
